

h1 {
    text-align: center;
    color: red;
    margin: 0px;
    font-family: "Lobster"
  }
  
h2 {
  margin: 0px;
}  

h3 {
    align-items: center;
    color: rgb(15, 22, 99);
    margin: 0px;
    font-family: "Balsamiq Sans"
  }
  
  :root {
    font-size: 16px;
    font-family: "Lobster";
    --text-primary: white; 
    --text-secondary: red; 
    --bg-primary: rgb(5, 5, 58);
    --bg-secondary: white;
  }

  body {
    color: black;
    background-image: url("https://www.apartments.com/images/default-source/default-album/nycstudio.tmb-featuredim.jpg?sfvrsn=ae1c4d25_0");
    background-color: #cccccc;
    height: 100vw;
    width: 100vw;
    background-size: 100%;
    margin: 0;
    padding: 0;
   }

  body::-webkit-scrollbar-track {
    width: 0.25rem;
  }

  body::-webkit-scrollbar-thumb {
    width: 0.25rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 20vw;
    width: 20vw;
    border-radius: 8px;
    outline: black;
    border: solid;
    box-shadow: 1px 2px;
  }

  .navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(4, 4, 48);
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem; 
    color: white;
    text-decoration: none;

  }

  .link-text {
    display: none;
    margin-left: 1rem; 
  }

  .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: block;
  }

  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  nav {
        top: 0;
        left: 0;
        display: flex;
        height: 2vh;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
        background-color: white;
        
      }

      
    .active {
        background-color: white; /* Add an active/current color */
      }
  

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(4, 4, 48);
      }

    li {
        float: left;
    }
  
   
    .box {
    
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
        width: 50vw;
        background-color: rgb(250, 246, 250);
        border-radius: 50px;
        outline: black;
        border: solid;
        box-shadow: 5px 10px;
        font-family: "Lobster";
    }

  .box_two {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 50vw;
    background-color: rgb(250, 246, 250);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: Balsamiq Sans;
  }

  .homepage_box {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .register_box {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .login_box {
    width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .form_box {
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .edit_renter_box {
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .review_box {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .DivToScroll {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 50vw;   
    background-color:  rgb(250, 246, 250);
    border: solid;
    border-radius: 40px;
    font-family: "Lobster";
    left: -1px;
    padding: 10px 7px 5px;
    }

.DivWithScroll {
    
    margin: auto;
    display: flex;
    height: 40vh;
    width: 45vw;
    overflow:scroll;
    overflow-x:hidden;
    
}

.landlord_box {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: rgb(250, 246, 250);
    border-radius: 50px;
    outline: black;
    border: solid;
    box-shadow: 5px 10px;
    font-family: "Lobster";
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
  
 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: rgb(194, 37, 102);
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .icon-bar {
    display: flex;
    width: 100%; 
    background-color: rgb(250, 246, 250); 
    overflow: auto; 
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: rgb(250, 246, 250); /* Add a hover color */
  }
  
  .active {
    background-color: #4CAF50; /* Add an active/current color */
  }